<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.libra.dao.QuestionDao">

    <select id="get" resultType="com.dream.libra.po.Question">
        select * from question where question.id = #{QuestionId}
    </select>

    <insert id="insert">
        insert into question (question_id, stem, type, `explain`, bank_id, difficulty, state)
        values (#{questionId}, #{stem}, #{type}, #{explain}, #{bankId}, #{difficulty}, #{state});
    </insert>
</mapper>